body {
  font-family: system-ui;
  background: #f06d06;
  color: red;
  text-align: center;
}


.product {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre la imagen y el texto */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas */
}

.product a {
    flex: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 40%; /* Limita el ancho para evitar que el texto se desborde */
    white-space: normal; /* Asegura que el texto se divida en varias líneas */
}
